# Python Crash Course

### Printing

In [4]:
num = 12
name = 'Sam'

In [5]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [6]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [7]:
print('My number is {one} and my name is {two} and more {one}'.format(one=num,two=name))

My number is 12 and my name is Sam and more 12

### Strings

In [2]:
'"Bangladesh is my Motherland"'

'"Bangladesh is my Motherland"'

In [1]:
"I can't get over her"

"I can't get over her"

In [9]:
s='abcdefghijk'

In [10]:
s

'abcdefghijk'

In [11]:
s[0:]

'abcdefghijk'

In [12]:
s[:3]

'abc'

In [13]:
s[0:3]

'abc'

In [14]:
s[2:5]

'cde'

### Lists

In [14]:
[1,2,3]

[1, 2, 3]

In [15]:
['a', 'b', 'c']

['a', 'b', 'c']

In [16]:
my_list = ['a', 'b', 'c']

In [17]:
my_list.append('d')

In [18]:
my_list

['a', 'b', 'c', 'd']

In [19]:
my_list[1:3]

['b', 'c']

In [20]:
my_list[0] = 'NEW'

In [21]:
my_list

['NEW', 'b', 'c', 'd']

In [22]:
nest = [1, 2, [3,4]] #Nested List

In [23]:
nest

[1, 2, [3, 4]]

In [24]:
nest[2]

[3, 4]

In [25]:
nest[2][1]

4

In [16]:
nest = [1,2,3,[4,5,['target']]]

In [17]:
print(nest[3][2][0])

target

### Dictionaries

In [32]:
#dictionaries. works as hash tables. That is value pair mappings.
d = {'key1':'value', 'key2':123}

In [36]:
d[0] #won't work because dictionaries dont work as sequences but as hash tables

KeyError: 0

In [37]:
d['key1']

'value'

In [38]:
d['key2']

123

In [39]:
d = {'k1':[1,2,3]}

In [40]:
d

{'k1': [1, 2, 3]}

In [41]:
d['k1']

[1, 2, 3]

In [42]:
d['k1'][1]

2

In [43]:
my_list = d['k1']

In [44]:
my_list

[1, 2, 3]

In [45]:
my_list[0]

1

In [50]:
d = {'k1':{'innerkey':[1,2,3]}} #nested dictionaries

In [51]:
d['k1']['innerkey']

[1, 2, 3]

In [52]:
d['k1']['innerkey'][1]

2

In [54]:
True #booleans

True

In [55]:
False

False

In [56]:
t = (1,2,3) #Tuples. Quite similar as list

In [57]:
t[0]

1

In [19]:
my_list = [1,2,3]

In [20]:
my_list[0]

1

In [21]:
my_list[0] = 'new'

In [22]:
my_list

['new', 2, 3]

### Tuples

In [62]:
t

(1, 2, 3)

In [63]:
t[0] = 'new' 
'''
Main diff betn tuples and list is that in tuple you cannot change/mutate the items.
When you don't want to let the users to change items inside you use tuples.
'''

TypeError: 'tuple' object does not support item assignment

***
###### List is mutable, but tuple is ummutable
***

### Sets

In [64]:
{1,2,3} #set: a collection of unique elements.

{1, 2, 3}

In [65]:
{1,1,1,1,1,2,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [66]:
set([1,1,1,1,2,2,2,2,5,5,5,5,7,7,7,]) #passing a list to set returns the unique items

{1, 2, 5, 7}

In [25]:
s = {1,2,3}

In [26]:
s.add(5) #adding elements in a set

In [27]:
s

{1, 2, 3, 5}

In [28]:
s.add(5) #adding a same element wont change the set

In [29]:
s

{1, 2, 3, 5}

## Comparison Operators

In [73]:
1 > 2

False

In [74]:
1 <2

True

In [30]:
1 == 1

True

## Logic Operators

In [76]:
1 < 2 and 2 < 3

True

In [77]:
1 < 2 and 2 > 3 # for an and operator all the conditions must be true

False

In [78]:
(1<2) and (2<3)

True

In [32]:
(1<3) or (2>4) # for an or operator any of the condition met returns true

True

## if,elif, else Statements

In [81]:
 if True:
        print('Hello')

Hello

In [33]:
if (1==2):
    print('First')
elif (4==4):
    print('second')
elif (3==3):
    print('middle')
else:
    print('last')

second

## Loops

In [35]:
seq = [1,2,3,4,5]

In [36]:
for num in seq:
    print(num)

1
2
3
4
5

In [37]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [38]:
i = 1

while (i<5):
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [39]:
for x in seq:
    print(x)

1
2
3
4
5

## range()

In [93]:
range(0,5)

range(0, 5)

In [95]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [40]:
my_list = list(range(0,5))

In [41]:
my_list

[0, 1, 2, 3, 4]

In [42]:
my_list = list(range(10))

In [44]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## list comprehension

In [45]:
x = [1,2,3,4]

In [46]:
out = []

for num in x:
    out.append(num**2) 
#we can do this in a simpler way by replacing it by list comprehension shown below

In [47]:
print(out)

[1, 4, 9, 16]

In [48]:
#List comprehension in python is to avoid writing for loops to append items to a list
out = [num**3 for num in x]

In [49]:
out

[1, 8, 27, 64]

## functions

In [109]:
def my_func(param1):
    print(param1)

In [110]:
my_func('Hello')

Hello

In [114]:
def my_func2(name):
    print('Hello ' + name)

In [115]:
my_func2('Srk')

Hello Srk

In [116]:
#if we dont pass anything to the parameter then assigning a default value
def my_func3(name="default name"): 
    print('Hello '+name)

In [118]:
my_func3()

Hello default name

In [119]:
#will replace default value
my_func3('srk')

Hello srk

In [120]:
def square(num):
    return num**2

In [121]:
output = square(2)

In [122]:
output

4

In [51]:
#Functions can have documentation strings. Also known as multiline comments
def cube(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES
    THIS FUNCTION CUBES A NUMBER
    """
    return num**3

In [52]:
cube(8)

512

In [128]:
#shift+tab. This will also be useful for the functions that we will be learning
cube

In [53]:
'''
shift+tab. 
This is useful to for quick access of documentation strings on built-in functions
'''
range

range

## lambda expressions

In [2]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

In [5]:
seq = [1,2,3,4,5]

#### map() function

In [6]:
list(map(times2,seq)) 
'''
pass any function and then the sequence you want to map that function to. 
If you want to get this as a list, then simply cast list at the front.
'''

[2, 4, 6, 8, 10]

In [7]:
#mapping times2 to function into sequence seq and then cast it as a tuple
tuple(map(times2,seq))

(2, 4, 6, 8, 10)

In [8]:
def times2(var):return var*2 
'''
A function can also be written like this. 
A lambda expression will try to replicate this sort of structure, 
except it's going to remove words that we dont need by default.
'''

In [11]:
t = lambda var : var*2 #This is a lambda expression

In [13]:
'''
Lambda expression can be used like this as well, 
but we will mainly use it for mapping purpose
'''
t(6)

12

In [54]:
#Using lambda expression for mapping purposes
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

#### filter() function

In [15]:
#Filter: To filter out elements from a sequence 
filter(lambda num:num%2 == 0, seq)

In [55]:
# will return only the even values from a sequence
list(filter(lambda num:num%2 == 0, seq))

[2, 4]

## methods

In [18]:
s = 'Hello my nam is Sam'   # Now we will look into methods

In [19]:
'''
After typing 's.' ,
#if you press tab then you'll get all the available methods on this String object
'''
s.lower()

'hello my nam is sam'

In [20]:
s.upper()

'HELLO MY NAM IS SAM'

In [21]:
s.split()      #removes all the whitespaces and returns the words

['Hello', 'my', 'nam', 'is', 'Sam']

In [22]:
tweet = 'Go Sports! #Sports'

In [23]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [24]:
tweet.split('#') #Split string whenever you find a hashtag

['Go Sports! ', 'Sports']

In [26]:
d = {'k1': 1, 'k2':2}

In [28]:
'''
after d. press tab to see the useful methods. 
d.keys() is a very useful method
'''
d.keys()

dict_keys(['k1', 'k2'])

In [29]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [30]:
d.values()

dict_values([1, 2])

In [31]:
lst = [1,2,3]

In [32]:
lst.pop()  # removes last item

3

In [33]:
lst

[1, 2]

In [34]:
lst = [1,2,3,4,5]

In [35]:
item = lst.pop()

In [36]:
item

5

In [37]:
first = lst.pop(0)  #Removes 0th element from the list

In [38]:
first

1

In [40]:
'x' in [1,2,3] #to check if an item in a list

False

In [41]:
'x' in ['x','y','z']

True

In [42]:
x = [(1,2), (3,4), (5,6)] #list of tuples

In [43]:
x[0]

(1, 2)

In [44]:
x[0][0]

1

In [48]:
'''
Tuple unpacking. 
instead of looking at all the tuples we unpack it 
and look at the first items of each tuple
'''
for (a,b) in x:        
    print(a)

1
3
5